<p>A password reset has been requested for <%= link_to @user.name, @user %>. To
  confirm, click <%= link_to 'here', @reset_path %>. If you did not request
  a password reset, simply ignore this email.</p>
