<!-- <!DOCTYPE html>
<html>
<head></head>
<body> -->
<% #don't need to include surrounding tags, because this is rendered into the
#mailer layout %>
<p>Thank you for registering, <%= @user.name %>! Before signing in, you must
  <a href="<%= @register_path %>">activate your account</a>.</p>
<!-- </body>
</html> -->
