<%= will_paginate @sources %>
<%= page_entries_info @sources %>

<% @sources.each do |source| %>
  <p><%= name_link source %>
    <%# Source.source_types.select { |type| source[type] }.map(&:to_s).join(', ') %>
  </p>
<% end %>

<hr>
<%= link_to 'New', new_source_path %>
