<% if @results.empty? %>
  No results.
<% else %>
  <%= will_paginate @results %>
  <%= page_entries_info(@results) %>
<% end %>
<table>
  <% @results.each do |result| %>
    <tr><td><%= name_link result %></td></tr>
  <% end %>
</table>
