<%# pass in user object as 'user' %>
<div class = 'user-summary'>
  <%# put it in a div in case the avatar is smaller than normal %>
  <div class = 'icon-container'>
    <%= image_tag user.avatar.url %>
  </div>

</div>
