<p>You need to confirm your email address before you can log in. If you didn't
  get a confirmation email, check your spam folder. If it's not there, we can
  <%= link_to 'Re-send it', send_confirmation_user_path(@user) %>.</p>
