<div class='story-header'>
  <dl>
    <dt>Tags</dt>
    <dd>
      <% tag_array = story.tags.map { |tag| link_to(tag.name, tag) } %>
      <%= raw tag_array.join(', ') %>
    </dd>
    <dt>Summary</dt>
    <dd>
      <%= story.summary %>
    </dd>
  </dl>
</div>
<h2 class="story-title"><%= @story.title %></h2>
<h3 class="story-author"><%= @story.author %></h3>
