<div class='storyheader'>
  <dl>
    <dt>Tags:</dt>
    <dd>
      <% tag_array = @tags.map { |tag| link_to(tag.name, tag) } %>
      <%= raw tag_array.join(', ') %>
    </dd>
    <dt>Summary:</dt>
    <dd>
      <%= @story.summary %>
    </dd>
  </dl>
</div>
