<div class='story-summary'>
  <dl>
    <dt>Title</dt>
    <dd><%= story.title %>
    <dt>Tags</dt>
    <dd>
      <% tag_array = story.tags.map { |tag| link_to(tag.name, tag) } %>
      <%= raw tag_array.join(', ') %>
    </dd>
    <dt>Summary</dt>
    <dd>
      <%= story.summary || "This story has no blurb." %>
    </dd>
    <dt>Author</dt>
    <dd>user_link(story.user)</dd>
  </dl>
</div>
