<h1>Editing Story</h1>
<%# render 'special_pages/autocomplete_script', sing: 'tag', coll: @story.tags %>
<%# render 'special_pages/autocomplete_script', sing: 'source', coll: @story.sources %>
<%= render partial: 'autocompletes' %>

<%= render 'form', story: @story %>

<%= link_to 'Show', @story %> |
<%= link_to 'Back', stories_path %>
