<% if @obj.present? %>
<h1>Stories in <%= name_link(@obj, class: 'tag') %>.</h1>
<% else %>
<h1>Stories</h1>
<% end %>

<%= render 'filterable_listing', page_stories: @stories, all_stories: @base_stories %>

<%
=begin
%>
<br>
<%= link_to 'New Story', new_story_path %>
<%
=end
%>
