<%
=begin
%>
  <% has_title = !chapter.get_title.empty? %>
  <% if has_title || @story.num_chapters > 1 %>
    <% chapter_heading = "Chapter #{chapter.number}" %>
    <% chapter_heading += ": #{chapter.title}" if has_title %>
  <% end %>
<%
=end
%>
  <center><strong><%= chapter.heading %></strong></center>
  <div class = "article">
    <%= raw chapter.body %>
  </div>
