<p id="notice"><%= notice %></p>

<%= render partial: "stories/header" %>
<%# render "misc/prev_next", next_obj: @next_chapter, prev_obj: @prev_chapter %>
<%= render "chapter_display", chapter: @chapter %>

<% #if current_user_or_guest.story_permissions(@story)[:edit] %>
  <% #link_to 'Edit Chapter', edit_story_chapter_path(@chapter) %>
<% #end %>
<%= render partial: "stories/story_footer" %>
