<p>
  This site is a clone of the fanfiction site
  <%= link_to 'Archive of Our Own', 'http://archiveofourown.org/' %>, made by
  Russell Flaum. I created this site both as a demonstration of my abilities,
  and to improve those abilities by practice.
</p>
