<%
=begin
%>
<span class = 'absolute-holder'>
  <span class = 'footnote-marker' title = 'Click for more info'><%= marker %></span><span class = 'footnote-body'><span><%= body %></span></span></span>
<%
=end
%>
<%= render 'misc/fn_a', num: num %>
<% footnotes << body %>
