/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

// @import "bootstrap-sprockets";
// @import "bootstrap_custom";
@import "*";

html {
  height: 100%;
}

body {
  margin: 0px;
  position: relative;
  //this is to ensure that there's enough space for the footer; may have to
  //change this number later
  padding-bottom: 80px;
  min-height: 100%;
  box-sizing: border-box;
}

dl {
  clear: right;
  position: relative;
  overflow: hidden;
  // margin-bottom: 0;
}

dt::after {
  content: ":";
}
form dt::after {
  content: none;
}

dt {
  width: 25%;
  float: left;
  clear: left;
}

dd {
  width: 72.5%;
  float: left;
  margin: 0 0  .643em;
}

.right-box {
  float:right;
}

.disabled {
  color: gray;
}

.full-width {
  width: 100%;
}

a > img {
  vertical-align: middle;
}

a.button-appearance, .button-row > a {
  text-decoration: none;
  background: #eee linear-gradient(#fff 2%, #ddd 95%, #bbb 100%);
  border: 1px solid #bbb;
  border-radius: 0.25em;
  padding: 0.25em 0.75em;
  color: black;
  display: inline-block;
}

.button-row {
  margin-bottom: 1em;
  float: right;
  clear: both;
}

.warning {
  background-color: yellow;
  border: 1px solid orange;
  box-shadow: inset 1px 1px 2px;
  border-radius: 0.25em
}

.no-dec {
  list-style-type: none;
}

#footer {
  background-color: DarkRed;
  color: white;
  width: 100%;
  overflow: auto;
  position: absolute;
  bottom: 0;
  padding-bottom: 16px;
}

//maybe do this with table-layout:fixed instead?
#footer li {
  width: 50%;
}

.horizontal-list > li {
  float: left;
  text-align: left;
}

.time {
  font-family: monospace;
}
