// Place all the styles related to the Sources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listbox {
  background: gainsboro;
  border: 2px solid lightgrey;
  margin-right: 1.5em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  > ol {
    background: white;
  }
  &.thin > ol {
    margin: 0;
    padding:0.5em;
  }
}



.source-summary {
  box-shadow: 1px 1px 5px #aaa;
  overflow: auto;
  clear: both;
  margin-top: 10px;
  margin-bottom: 10px;
  // display: flex;
  padding: 5px;
  > h4, > h5 {
    margin-top: 0.375em;
    margin-bottom: 0;
  }
}
