// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.story-title{
  text-align: center;
}

.story-author{
  text-align: center;
}

.story-summary, .story-header {
  box-shadow: 1px 1px 5px #aaa;
  overflow: auto;
  clear: both;
  margin-top: 10px;
  margin-bottom: 10px;
  dd {
    :first-child {
      margin-top: 0;
    }
    :last-child {
      margin-bottom: 0;
    }
  }
}

textarea#story_summary {
  min-height:5em;
  min-width:36em;
}

// div#summary_edit {
//   height: 5em;
//   width: 36em;
//   textarea {
//     width: 100%;
//   }
// }

// div#body_edit {
//   width: 100%;
// }

div.input.story_body, div.input.chapter_body {
  width: 100%;
  textarea {
    width: 100%;
    min-height: 80em;
  }
}

.story-summaries {
  width: 75%;
  float: left;
}

.filter-form {
  width: 23%;
  float: right;
  background-color: gainsboro;
  box-shadow: inset 1px 0 5px darkgrey;
  padding: 0.56em;
  box-sizing: border-box;
  > input[type='submit'] {
    width: 100%;
    // background: lightgrey;
    // background-image: linear-gradient(white 2%, gainsboro 95%, silver 100%);
    // font-size: 1rem;
    // font-weight: lighter;
    // padding: 0.25em 0.75em;
  }
  > fieldset {
    border: 0px;
    margin: 0;
    padding: 0;
    > span {
      border-bottom: 1px solid linen;
      width: 100%;
      display: inline-block;
      // padding-right: 100%;
      // white-space: nowrap;
    }
  }
  > dl {
    > dt {
      width: 45%;
    }
    > dd {
      width: 55%;
      > select {
        float: right;
      }
    }
  }
}
